<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/signin.css">
</head>
<body>
    
<div class="form">
      
     
        <h1>Welcome....</h1>
        
        <form action="/signin" method="post" id="signin">
        
          <div class="field-wrap">
          <label for="email"  >
            Email Address<span class="req">*</span>
          </label>
          <input type="email" name="email"  autocomplete="off"/>
        </div>
        
        <div class="field-wrap">
          <label for="password">
            Password<span class="req">*</span>
          </label>
          <input type="password" name="password" autocomplete="off"/>
        </div>
        
        <p class="forgot"><a href="#">Forgot Password?</a></p>
        
        <button class="button button-block">Log In</button>
        
        </form>

      </div>
      
    </div>
    
 </div> 
</body>
</html>