<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/signup.css">
</head>
<body>
    



    <div class="form">
      
      
        <div class="tab-content">
          <div id="signup">   
            <h1>Sign Up for Free</h1>
            
            <form action="/signup" method="post" id = "signup">
            
            <div class="top-row">
              <div class="field-wrap">
                <label for= "fname" >
                  First Name<span class="req">*</span>
                </label>
                <input type="text" name="fname"   required autocomplete="off" />
              </div>
          
              <div class="field-wrap">
                <label for="lname">
                  Last Name<span class="req">*</span>
                </label>
                <input type="text"  name="lname"  required autocomplete="off"/>
              </div>
            </div>
    
            <div class="field-wrap">
              <label for="email">
                Email Address<span class="req">*</span>
              </label>
              <input type="email"  name="email"  required autocomplete="off"/>
            </div>
            
            <div class="field-wrap">
              <label for="password">
                Set A Password<span class="req">*</span>
              </label>
              <input type="password" name="password"  required autocomplete="off"/>
            </div>






            
            <button type="submit" class="button button-block">Get Started</button>
            
            </form>
    

            <!-- <script src="topics.js"></script> -->
          </div>
    













</body>
</html>