
/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: blanchedalmond;

    
}

h1 {
    color: #333;
    text-align: center;
    margin-top: 50px;
}

p {
    color: #666;
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

li {
    display: inline-block;
    margin: 0 10px;
}

a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 16px;
}

a:hover {
    color: #ff4500; /* Change the color on hover */
}

/* .jumbotron text-center{
    background-image: ;
} */


body {
    font-family: sans-serif;
  }
  
  .jumbotron {
    background-color: #f8f9fa;
    padding: 2rem 1rem;
    margin-bottom: 2rem;
  }
  
  .jumbotron h1 {
    font-size: 2rem;
  }
  
  .container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 2rem;
  }
  
  .card {
    margin-bottom: 1rem;
  }
  
  .card-title {
    font-weight: bold;
  }
  
  .card-subtitle {
    font-size: 0.8rem;
    color: #6c757d;
  }
  
  .card-text {
    font-size: 0.9rem;
  }
  
  .btn {
    margin-right: 0.5rem;
  }
  
  .btn-success {
    background-color: #28a745;
    border-color: #28a745;
  }
  
  .btn-info {
    background-color: #17a2b8;
    border-color: #17a2b8;
  }
  
  .btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
  }
  
  form {
    display: inline-block;
  }
  
  span {
    margin-left: 0.5rem;
  }
  
  /* .btn-info {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    background-color: #f8f9fa;
    border: 1px solid #ccc;
    border-radius: 5px;
  } */

  /* Read More Button */
.btn-primary {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
  }
  
  /* Edit Button */
  .btn-edit {
    background-color: #28a745;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
  }
  
  /* Delete Button */
  .btn-delete {
    background-color: #dc3545;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
  }
  
  /* Like Button */
  .btn-like {
    background-color: #ff5507;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
  }
  
  